//color schemes need to appear in navbar as well
//or the variables will not work
@import 'color_scheme_bright';
// @import 'color_scheme_dark';
// @import 'color_scheme_neutral';

nav {

	font-weight: 300;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $color-primary-1;
	height: 50px;
	width: 100;
	border-radius: 0px 0px 10px;

	ul {
		margin-left: 0px;
	}

	ul li {
		list-style-type: none;
		display: inline-block;
		margin-right: 50px;
		margin-left: 25px;
	}

	ul li a {
		text-decoration: none;
		color: $color-primary-3;
	}

	ul li a:hover {
		color: $color-primary-4;

	}
	//begin submenus
	ul .dropdown {
		color: $color-primary-3;
	}

	ul .dropdown:hover {
		color: $color-primary-4;
	}


	ul .dropdown ul {
		margin-left: 0px;
		// hide off screen unless hovered
		display: none;
		position: absolute;
	}

	ul .dropdown ul li {
		color: $color-secondary-2-0;
		width: 100px;
		margin-top: 2px;
		background-color: $color-secondary-2-3;
		text-align: center;
		margin-left: 0px;
	}

	ul .dropdown:hover ul {
		display: block;
		
	}


}