nav {
	ul {
		margin-left: 0px;
	}

	ul li {
		list-style-type: none;
		display: inline-block;
	}

	ul li a {
		text-decoration: none;
	}

	ul li a:hover {

	}
	//begin submenus
	ul li ul {
		margin-left: 0px;
	}

	ul li ul li {
		list-style-type: none;
	}

	ul li ul li a {
		text-decoration: none;
	}

	ul li ul li a:hover {

	}


}